@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn-warning, .btn-danger, .btn-success, .btn-primary {
  padding: 8px 12px;
  display: grid;
  place-content: center;
  border: none;
  border-radius: 6px;
  color: #fff;
  transition: all 0.2s linear;
  box-shadow: 0 0 3px rgba(73, 73, 255, 0.563);
  background-color: rgb(73, 73, 255);
  margin: 8px;
}

.btn-warning:hover, .btn-danger:hover, .btn-success:hover, .btn-primary:hover {
  background-color: rgba(73, 73, 255, 0.76);
  color: #ebebeb;
}

.card, .box {
  background-color: #ede0e0;
  box-shadow: 0 0 10px rgb(93, 93, 93);
  margin: 10px;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.card:hover, .box:hover {
  box-shadow: 0 0 20px rgb(93, 93, 93);
  background-color: azure;
}

.box {
  width: 200px;
  height: 200px;
}

.card {
  width: 400px;
  height: 400px;
}

.wrapper-card {
  width: 300px;
  height: 450px;
  background-color: red;
  box-shadow: 0 0 20px silver;
  border-radius: 10px 20px 30px;
  margin: 10px;
  transition: all 0.2s ease;
  background-color: lime;
}

.btn-success {
  background-color: teal;
}

.btn-danger {
  background-color: crimson;
}

.btn-warning {
  background-color: #ffd900;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

header nav {
  display: flex;
  align-items: center;
  padding: 24px 0;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  line-height: 20px;
}
header nav ul:nth-child(2) {
  gap: 60px;
}
header nav ul:nth-child(2) :hover {
  color: #8447E9;
  transition: all 0.2s linear;
}
header nav ul .nav__btn {
  display: flex;
  padding: 12px 24px;
  gap: 13px;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  background: #8447E9;
  color: #F5F5F5;
  cursor: pointer;
}
header nav ul .nav__btn:hover {
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: #BDB0EC;
}

.intro__wrapper {
  padding: 158px 0 100px 0;
  margin: 0 auto;
  width: 608px;
}
.intro__wrapper h1 {
  margin: 0 auto;
  font-size: 62px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: -5.5%;
  text-align: center;
  width: 608px;
}
.intro__wrapper h1 span {
  color: #8447E9;
}
.intro__wrapper-info {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  right: -65px;
  top: -4px;
  margin-bottom: 75px;
}
.intro__wrapper--btn {
  display: flex;
  padding: 0 77px;
  justify-content: space-between;
}
.intro__wrapper--btn button {
  display: flex;
  align-items: center;
  padding: 20px 32px;
  background: #8447E9;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -5%;
  color: #F5F5F5;
  border: none;
  gap: 13px;
  cursor: pointer;
}
.intro__wrapper--btn button:hover {
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: #BDB0EC;
}
.intro__wrapper--btn a {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0%;
  display: flex;
  gap: 13px;
  align-items: center;
  padding: 0 10px;
  color: #0F0F0F;
}

.brand__wrapper {
  padding: 88px 0;
}
.brand__wrapper h1 {
  width: 790px;
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: -4%;
  margin: 0 auto;
  text-align: center;
  color: #0F0F0F;
  margin-bottom: 80px;
}
.brand marquee {
  gap: 20px;
}
.brand marquee img {
  box-sizing: border-box;
  border: 1px solid #a1aebf;
  border-radius: 10px;
  padding: 16px 24px;
  margin: 10px;
}

.service {
  padding: 88px 0 80px 0;
  max-width: 1080px;
  margin: 0 auto;
}
.service .info {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 7.5%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: #8447E9;
}
.service .title {
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: -4%;
  text-align: left;
  width: 742px;
  margin-bottom: 88px;
}
.service__wrapper {
  display: grid;
  gap: 90px;
  grid-template-columns: repeat(3, minmax(303px, auto));
}
.service__wrapper--cards {
  width: 300px;
  margin-bottom: 64px;
}
.service__wrapper--cards h1 {
  color: #8447E9;
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: -1.5%;
  text-align: left;
  padding: 32px 0;
  width: 306px;
}
.service__wrapper--cards .desc {
  width: 226px;
}
.service__wrapper--cards p {
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -5%;
  text-align: left;
  width: 303px;
  margin-bottom: 16px;
}
.service__wrapper--cards a {
  color: #0F0F0F;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -5%;
  text-align: left;
  display: block;
  margin-bottom: -10px;
  cursor: pointer;
}
.service__wrapper button {
  padding: 20px 32px 20px 32px !important;
  width: 255px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #8447E9;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -5%;
  color: #8447E9;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 310px 0 0 420px;
  cursor: pointer;
}
.service__wrapper button:hover {
  background: #8447E9;
  color: white;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.service__wrapper button:hover img {
  filter: brightness(0) invert(1);
}
.service__wrapper button img {
  color: #8447E9;
}

.project {
  background: #8447E9;
  padding: 140px 0;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}
.project .info {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 7.5%;
  text-align: left;
  text-transform: uppercase;
  color: #F5F5F5;
  margin-bottom: 24px;
}
.project h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: -4%;
  text-align: left;
  width: 930px;
  color: #F5F5F5;
  margin-bottom: 91px;
}
.project__wrapper {
  padding-bottom: 24px !important;
}
.project__wrapper--cards {
  display: flex;
  gap: 34px;
  margin-bottom: 64px;
}
.project__wrapper--cards-box img {
  width: 522px;
  height: 341px;
  margin-bottom: 32px;
}
.project__wrapper--cards-box_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__wrapper--cards-box_info h2 {
  color: #F5F5F5;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0%;
  text-align: left;
}
.project__wrapper--cards-box_info p {
  color: #BDB0EC;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.project button {
  padding: 20px 32px 20px 32px !important;
  box-sizing: border-box;
  border: 1px solid #F5F5F5;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -5%;
  color: #F5F5F5;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.project button i {
  font-size: 18px;
}
.project button:hover {
  background-color: #F5F5F5;
  color: #8447E9;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.feedback {
  padding: 116px 0 128px 0;
  display: flex;
  justify-content: center;
}
.feedback h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: -4%;
  text-align: left;
  color: #0F0F0F;
  margin-bottom: 88px;
}
.feedback__wrapper {
  padding: 32px 36px;
  background-color: #E1DBF6;
  width: 1040.93px;
  height: 484px;
}
.feedback__wrapper--items {
  display: flex;
  gap: 100px;
}
.feedback__wrapper--items-info {
  display: flex;
  gap: 60px;
}
.feedback__wrapper--items-info img {
  margin: 76px 0;
}
.feedback__wrapper--items-info__desc .desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -2%;
  text-align: left;
  width: 537px;
  margin-top: 100px;
  margin-bottom: 48px;
}
.feedback__wrapper--items-info__desc .name {
  color: #8447E9;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -5%;
  text-align: left;
  margin-bottom: 4px;
}
.feedback__wrapper--items-info__desc-name {
  display: flex;
  gap: 8px;
  align-items: center;
}
.feedback__wrapper--items-info__desc-name p {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  color: #0F0F0F;
}
.feedback__wrapper--items-info__desc-name small {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  color: #0F0F0F;
}

.news {
  padding: 88px 0;
}
.news h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: -4%;
  text-align: left;
  margin-bottom: 88px;
  color: #0F0F0F;
}
.news__wrapper {
  display: flex;
  gap: 25px;
  margin-bottom: 88px;
}
.news__wrapper--cards img {
  margin-bottom: 50px;
}
.news__wrapper--cards-title {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  color: #8447E9;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -5%;
  text-align: left;
}
.news__wrapper--cards-info {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  color: #0F0F0F;
  width: 411px;
}
.news button {
  display: flex;
  gap: 13px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #8447E9;
  padding: 20px 32px;
  background: transparent;
  color: #8447E9;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -5%;
  text-align: left;
}
.news button i {
  font-size: 18px;
}
.news button:hover {
  background-color: #8447E9;
  color: #F5F5F5;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}