.services {
    background-color: #E1DBF6;

    &__wrapper {
        padding: 88px 0;

        p {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 7.5%;
            text-align: left;
            text-transform: uppercase;
            color: $bg-primary-color;
            margin-bottom: 40px;
        }

        h1 {
            width: 845px;
            font-size: 40px;
            font-weight: 500;
            line-height: 49px;
            letter-spacing: -4%;
            text-align: left;
            color: $primary-color;
        }
    }
}

.type {

    &__services {
        padding: 88px 0;

        &--items {
            display: flex;
            align-items: center;
            gap: 35px;

            &-info {

                h1 {
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 39px;
                    letter-spacing: -1.5%;
                    color: $bg-primary-color;
                    margin-bottom: 40px;
                }

                .title {
                    width: 550px;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 141.9%;
                    letter-spacing: -3%;
                    text-align: left;
                    color: $primary-color;
                    margin-bottom: 30px;
                }

                &_desc {
                    display: flex;
                    gap: 24px;

                    &--smth {
                        div {
                            display: flex;
                            gap: 15px;
                            margin-bottom: 18px;

                            p {
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 20px;
                                letter-spacing: -5%;
                                text-align: left;
                                color: $bg-primary-color;
                            }
                        }
                    }
                }
            }

        }
    }
}